.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
  }
  
  input[type=text] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
    height: 400px; 
    word-wrap: break-word;
    white-space: pre-wrap;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  